torch==1.7.1
numpy==1.20.2
test_tube==0.7.5
demjson==2.2.4
opencv_python_headless==4.2.0.34
pytorch_lightning==0.9.0
lmdb==1.2.1
ipdb==0.13.2
tqdm==4.46.0
pytorch_lightning_bolts==0.2.0
torchvision==0.8.2
pandas==1.0.3
streamlit==0.86.0
albumentations==0.5.2
mlflow==1.11.0
efficientnet_pytorch==0.7.1
gdown==3.13.0
Pillow==8.3.2
