torch==1.7.1
torchvision==0.8.2
demjson==2.2.4
lmdb==1.2.1
numpy==1.20.2
pytorch_lightning_bolts==0.2.0
tqdm==4.46.0
ipdb==0.13.2
opencv_python_headless==4.2.0.34
pytorch_lightning==0.9.0
test_tube==0.7.5
albumentations==0.5.2
streamlit==0.86.0
mlflow==1.11.0
efficientnet_pytorch==0.7.1
pandas==1.0.3
Pillow==8.3.2
